<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

 <listeners>
    <listener class-name="frameworkAutomate.listeners.ExtentTestListener"/>
  </listeners>
  <test name="HomeTests" thread-count="5">
    <classes>
      <class name="frameworkAutomate.tests.HomePageTest"/>
    </classes>
  </test>
  
  <test name="RegisterTests" thread-count="5">
    <classes>
      <class name="frameworkAutomate.tests.RegisterPageTest"/>
    </classes>
  </test>
</suite>
